---
import Grid from '../atoms/Grid.astro';
import Button from '../atoms/Button.astro';
---

<div class="flex flex-col gap-y-4">
	<h4 class="text-xl font-bold text-white">Want to Collaborate?</h4>
	<Grid class="flex flex-row justify-between">
		<h5 class="self-center text-xl font-bold text-white">Contact Me</h5>
		<Button
			isLink
			intent="gradient-purple"
			size="small"
			title="Email Me!"
			href="mailto:hariyonogharis@gmail.com"
		>
			Email
		</Button>
	</Grid>
</div>
