---
import Badge from '../atoms/Badge.astro';
import Grid from '../atoms/Grid.astro';
---

<div class="flex flex-col gap-y-4">
  <h4 class="text-xl text-white font-bold">Experiences</h4>
  <Grid>
    <h6 class="text-base text-white">Junior Associate Software Engineer</h6>
    <h5 class="text-xl text-white font-bold">
      Komunal Indonesia - DepositoBPR
    </h5>
    <div class="flex gap-x-2">
      <Badge>Frontend</Badge>
      <Badge>Backend</Badge>
    </div>
  </Grid>
</div>