---
import Contact from '@/components/Contact.astro';
import LatestWriting from '@/components/LatestWriting.astro';
import Hero from '@/components/Hero.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout
  metaTitle="Primidi | Gharis P. Hariyono"
  metaDescription="Primidi | Gharis Primada Hariyono"
>
  <img
    src="/circle-blur.svg"
    alt="circle-blur-left"
    class="absolute left-10 top-0 z-0 hidden lg:block"
  />
  <div class="mx-4 my-8 flex items-center justify-center">
    <div class="z-10 flex w-96 flex-col gap-y-8">
      <Hero />
      <LatestWriting />
      <Contact />
    </div>
  </div>
</BaseLayout>
