---
import { cn } from '@/utils/class';
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'div'> {}

const { ...props } = Astro.props;
---

<div
  class={cn(
    'w-full py-2 px-4 text-center bg-gradient-to-r from-pink-100 to-purple-300',
    props.class,
  )}
  {...props}
>
  <p class="text-xs font-semibold text-white md:text-sm">
    This is a <span class="font-extrabold">Pre-Release</span> Version of Primidi
    Website! If you have any concerns please file me <a
      href="https://github.com/primidi/primidi/issues"
      target="_blank"
      title="Open a Github's Issue"
      class="font-extrabold underline duration-200 hover:text-purple-700 hover:no-underline"
      >an issue here</a
    >. 🚀
  </p>
</div>
