---
import Grid from './atoms/Grid.astro';
import Button from './atoms/Button.astro';
---

<div class="flex flex-col gap-y-4">
  <h4 class="text-xl font-bold text-white">Want to Collaborate?</h4>
  <Grid class="flex flex-row items-center justify-between">
    <h5 class="text-xl font-bold text-white">Contact Me</h5>
    <Button
      isLink
      href="mailto:hariyonogharis@gmail.com"
      intent="gradient-purple"
      size="small"
      title="Email Me!"
    >
      Email
    </Button>
  </Grid>
</div>
