---
import Header from '@/components/Header.astro';
import BetaLabel from '@/components/BetaLabel.astro';

export const prerender = false;
type Props = {
  metaTitle: string;
  metaDescription: string;
  metaKeywords?: string[];
  isPreRelease?: boolean;
};
const {
  metaTitle,
  metaDescription,
  metaKeywords = [],
  isPreRelease = true,
} = Astro.props;

const metaKeywordsString = metaKeywords?.join(', ') || '';
---

<html lang="en">
  <Header
    metaTitle={metaTitle}
    metaDescription={metaDescription}
    metaKeywords={metaKeywordsString}
  />
  <body>
    {isPreRelease && <BetaLabel class="sticky top-0 z-20" />}
    <slot />
  </body>
</html>

<style is:global>
  html {
    @apply text-white;
  }
</style>
