---
import Header from '@/components/Header.astro';
import BetaLabel from '@/components/BetaLabel.astro';
import type { SEOProps } from '@/components/SEO.astro';

export const prerender = false;

type Props = SEOProps & {
  isPreRelease?: boolean;
};

const {
  isPreRelease = true,
  ...seoProps
} = Astro.props;
---

<html lang="en">
  <Header {...seoProps} />
  <body>
    {isPreRelease && <BetaLabel class="sticky top-0 z-20" />}
    <slot />
  </body>
</html>

<style is:global>
  html {
    @apply text-white;
  }
</style>